* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 40px;
	font-family: sans-serif;
}
header{
	height: 50px;
	background: #FFE680;
}
.container3 {
    float:left;
    width:100%;
    background:green;
    overflow:hidden;
    position:relative;
}
.container2 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:30%;
}
.container1 {
    float:left;
    width:100%;
    background:red;
    position:relative;
    right:40%;
}
.col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
    text-align: center;
}
.col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
.col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
    text-align: center;
}
.box::after {
	content: "";
	display: block;
	clear: both;
}
footer{
	background-color: #000;
	color: #fff;
	padding: 25px;
}
